<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
<div class="container">
    <div class="row"  style="margin-top: 25px">

        <div th:if="${message}" class="alert alert-danger col-sm-12" role="alert">
            <span th:text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <br><br>

        <div>
            <a th:href="@{/freePlayers/{id}(id=${club.id})}">
                <button type="button" class="btn btn-info col-sm-4 col-sm-offset-1" th:text="#{add.free.player}"></button>
            </a>
            <a th:href="@{/changeCoach/{clubId}(clubId=${club.id})}">
                <button type="button" class="btn btn-danger col-sm-4 col-sm-offset-2" th:text="#{change.coach}"></button>
            </a>
        </div>

        <br><br>

        <div>
            <h1>
                <spam th:text="#{coach}"></spam>
                <span th:text="${club.coach.getName()}"></span>
            </h1>
        </div>

        <br><br>

        <h1 th:text="#{playersList}"></h1>

        <br>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th th:text="#{name}"></th>
                    <th th:text="#{surname}"></th>
                    <th th:text="#{position}"></th>
                    <th th:text="#{age}"></th>
                    <th th:text="#{show.details}"></th>
                    <th th:text="#{dismiss}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player : ${club.players}">
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.surname}"></td>
                    <td th:text="${player.position}"></td>
                    <td th:text="${player.age}"></td>
                    <td>
                        <a th:href="@{/playerDetails/{idPlayer}(idPlayer=${player.id})}">
                            <button type="button" class="btn btn-info" th:text="#{show.details}"></button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/dismiss/{idPlayer}/{idClub}(idClub=${club.id},idPlayer=${player.id})}">
                            <button type="button" class="btn btn-danger" th:text="#{dismiss}"></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>