<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>

<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="alert alert-info" role="alert">
             <span th:text="#{choose.club}"></span>
             <span th:text="${player.name}"></span>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th th:text="#{name}"></th>
                    <th th:text="#{join}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="club : ${clubs}">
                    <td th:text="${club.name}"></td>
                    <td>
                        <a th:href="@{/addPlayer/{idClub}/{idPlayer}(idClub=${club.id},idPlayer=${player.id})}">
                            <button type="button" class="btn btn-succes col-sm-4 col-sm-offset-2" th:text="#{join}"></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>