<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top: 25px;">

            <div th:if="${message}" class="alert alert-danger col-sm-12" role="alert">
                <span th:text="${message}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div>
                <a th:href="@{/endCoachCareer/{idCoach}(idCoach=${coach.id})}">
                    <button type="button" class="btn btn-danger col-sm-3  col-sm-offset-2" th:text="#{finish.career}"></button>
                </a>

                <a th:href="@{/editFormCoach/{idCoach}(idCoach=${coach.id})}">
                    <button type="button" class="btn btn-info col-sm-3 col-sm-offset-2" th:text="#{edit.coach}"></button>
                </a>
            </div>

            <br><br>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <h2 class="col-sm-3"><label th:text="#{name}"></label></h2>
                    <h2 class="col-sm-3"><label th:text="${coach.name}"></label></h2>
                    <h2 class="col-sm-3"><label th:text="#{surname}"></label></h2>
                    <h2 class="col-sm-3"><label th:text="${coach.surname}"></label></h2>
                </div>
                <div class="col-sm-12">
                    <h2 class="col-sm-3"><label th:text="#{country}"></label></h2>
                    <h2 class="col-sm-3"><label th:text="${coach.country}"></label></h2>
                    <h2 class="col-sm-3"><label th:text="#{age}"></label></h2>
                    <h2 class="col-sm-3"><label th:text="${coach.age}"></label></h2>
                </div>
                <div class="col-sm-12">
                    <h2 class="col-sm-3"><label th:text="#{club}"></label></h2>
                    <h2 class="col-sm-3"><label th:text="${coach.getClubName()}"></label></h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>