<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 25px;">

            <a th:href="@{/formCoach}">
                <button type="button" class="btn btn-success col-sm-2 col-sm-offset-1" th:text="#{create.coach}"></button>
            </a>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th th:text="#{name}"></th>
                        <th th:text="#{surname}"></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="coach : ${coaches}">
                    <td th:text="${coach.name}"></td>
                    <td th:text="${coach.surname}"></td>
                    <td>
                        <a th:href="@{/coachDetails/{idCoach}(idCoach=${coach.id})}">
                            <button type="button" class="btn btn-info" th:text="#{show.details}"></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>