<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
<div class="container">

    <div class="row" style="margin-top: 25px">
        <form method="post" action="createPlayer">

            <div class="form-group">
                <label th:text="#{name}"></label>
                <input type="text" name="name" class="form-control" placeholder="name">
            </div>

            <div class="form-group">
                <label th:text="#{surname}"></label>
                <input type="text" name="surname" class="form-control" placeholder="surname">
            </div>

            <div class="form-group">
                <label th:text="#{age}"></label>
                <input type="number" name="age" class="form-control" placeholder="age">
            </div>

            <div class="form-group">
                <label th:text="#{position}"></label>
                <select name="position">
                    <option th:each="position : ${T(agile.management.app.enums.Position).values()}" th:value="${position}" th:text="${position}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary" th:text="#{submit}"></button>

        </form>
    </div>
</div>
</body>
</html>