<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 25px">

        <h1>
            <span th:text="#{choose.coach}"></span>
            <span th:text="${club.name}"></span>
        </h1>

        <br><br>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th th:text="#{name}"></th>
                    <th th:text="#{surname}"></th>
                    <th th:text="#{country}"></th>
                    <th th:text="#{age}"></th>
                    <th th:text="#{choose}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="coach : ${coaches}">
                    <td th:text="${coach.name}"></td>
                    <td th:text="${coach.surname}"></td>
                    <td th:text="${coach.country}"></td>
                    <td th:text="${coach.age}"></td>
                    <td>
                        <a th:href="@{/choose/{idClub}/{idCoach}(idClub=${club.id},idCoach=${coach.id})}">
                            <button type="button" class="btn btn-success" th:text="#{choose}"></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>