<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 25px">

        <h1>
            <span th:text="#{add.player}"></span>
            <span th:text="${club.name}"></span>
        </h1>

        <br><br>

        <table class="table">
            <tr>
                <th th:text="#{name}"></th>
                <th th:text="#{surname}"></th>
                <th th:text="#{position}"></th>
                <th th:text="#{age}"></th>
                <th th:text="#{add}"></th>
            </tr>
            <tr th:each="player : ${players}">
                <td th:text="${player.name}"></td>
                <td th:text="${player.surname}"></td>
                <td th:text="${player.position}"></td>
                <td th:text="${player.age}"></td>
                <td>
                    <a th:href="@{/addPlayer/{idClub}/{idPlayer}(idClub=${club.id},idPlayer=${player.id})}">
                        <button type="button" class="btn btn-success" th:text="#{choose.player}"></button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>