<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 100px">
            <a href="league">
                <button type="button" class="btn btn-secondary btn-lg col-sm-12 col-md-2 col-md-offset-1" th:text="#{show.league}"></button>
            </a>
            <a href="players">
                <button type="button" class="btn btn-secondary btn-lg col-sm-12 col-md-2 col-md-offset-2" th:text="#{show.players}"></button>
            </a>
            <a href="coaches">
                <button type="button" class="btn btn-secondary btn-lg col-sm-12 col-md-2 col-md-offset-2" th:text="#{show.trainers}"></button>
            </a>
        </div>
    </div>
</body>
</html>