<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>

<div class="container" style="margin-top: 25px;">
    <div class="row">

        <a href="playMath">
            <button type="button" class="btn btn-secondary btn-lg col-sm-12" style="margin-bottom: 50px;" th:text="#{play.matches}"></button>
        </a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{name}"></th>
                    <th scope="col" th:text="#{score}"></th>
                    <th scope="col" th:text="#{show.club}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="club : ${clubs}"  scope="row">
                    <th th:text="${club.name}"></th>
                    <th th:text="${club.score}"></th>
                    <th>
                        <a th:href="@{/club/{id}(id=${club.id})}">
                            <button type="button" class="btn btn-info" th:text="#{show.club}"></button>
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>