<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 25px;">

        <div>

            <a th:href="@{/formPlayer}">
                <button type="button" class="btn btn-success col-sm-2 col-sm-offset-1" th:text="#{create.player}"></button>
            </a>

            <div class="col-sm-4 col-sm-offset-1">
                <form method="post" action="filterPlayer">
                    <label th:text="#{position}"></label>
                    <select name="position">
                        <option th:each="position : ${T(agile.management.app.enums.Position).values()}" th:value="${position}" th:text="${position}"></option>
                    </select>
                    <button type="submit" class="btn btn-succes" th:text="#{submit}"></button>
                </form>
            </div>

            <a th:href="@{/resetFilter}">
                <button type="button" class="col-sm-2 col-sm-offset-1 btn btn-info" th:text="#{reset.filter}"></button>
            </a>

        </div>
        <br><br>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th th:text="#{name}"></th>
                    <th th:text="#{surname}"></th>
                    <th th:text="#{position}"></th>
                    <th th:text="#{age}"></th>
                    <th th:text="#{club}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player : ${players}">
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.surname}"></td>
                    <td th:text="${player.position}"></td>
                    <td th:text="${player.age}"></td>
                    <td th:text="${player.getClubName()}"></td>
                    <td>
                        <a th:href="@{/playerDetails/{idPlayer}(idPlayer=${player.id})}">
                            <button type="button" class="btn btn-info" th:text="#{show.details}"></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>