<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 25px;">
        <div>
            <a th:if="${player.club}" th:href="@{/leaveClub/{idPlayer}(idPlayer=${player.id})}">
                <button type="button" class="btn btn-danger col-sm-2 col-sm-offset-1" th:text="#{leave.club}"></button>
            </a>

            <a th:if="!${player.club}" th:href="@{/showClubs/{idPlayer}(idPlayer=${player.id})}">
                <button type="button" class="btn btn-success col-sm-2 col-sm-offset-1" th:text="#{join.club}"></button>
            </a>

            <a th:href="@{/endCareer/{idPlayer}(idPlayer=${player.id})}">
                <button type="button" class="btn btn-danger col-sm-2  col-sm-offset-2" th:text="#{finish.career}"></button>
            </a>

            <a th:href="@{/editForm/{idPlayer}(idPlayer=${player.id})}">
                <button type="button" class="btn btn-info col-sm-2 col-sm-offset-2" th:text="#{edit.player}"></button>
            </a>
        </div>

        <br><br>

        <div class="col-sm-12">
            <div class="col-sm-12">
                <h2 class="col-sm-3"><label th:text="#{name}"></label></h2>
                <h2 class="col-sm-3"><label th:text="${player.name}"></label></h2>
                <h2 class="col-sm-3"><label th:text="#{surname}"></label></h2>
                <h2 class="col-sm-3"><label th:text="${player.surname}"></label></h2>
            </div>
            <div class="col-sm-12">
                <h2 class="col-sm-3"><label th:text="#{position}"></label></h2>
                <h2 class="col-sm-3"><label th:text="${player.position}"></label></h2>
                <h2 class="col-sm-3"><label th:text="#{age}"></label></h2>
                <h2 class="col-sm-3"><label th:text="${player.age}"></label></h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>