<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Created by Marcin Ławicki (mak)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{league}"></title>
</head>
<body>
<div class="container">

    <div class="row" style="margin-top: 100px">
        <a href="league">
            <button type="button" class="btn btn-secondary btn-lg col-sm-12" style="margin-bottom: 50px;" th:text="#{show.league}"></button>
        </a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th  scope="col" th:text="#{club.name}"></th>
                    <th  scope="col" th:text="#{club.goals}"></th>
                    <th  scope="col" th:text="#{club.goals}"></th>
                    <th  scope="col" th:text="#{club.name}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pair : ${pairs}"  scope="row">
                    <th th:text="${pair.clubOne.getName()}"></th>
                    <th th:text="${pair.scoreClubOne}"></th>
                    <th th:text="${pair.scoreClubTwo}"></th>
                    <th th:text="${pair.clubTwo.getName()}"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>